<div class="collection">
    <a class="collection-item avatar">
      <!-- <img src="" alt="" class="circle"> -->
      <i class="material-icons circle">folder</i>
      <span class="title  black-text">Number System Calculator</span>
      <p class="black-text">It is a gui based project made using tkinter to convert numbers from one number system  <br>
         to another like converting decimal number to binary or octal or hexadecimal or the vice versa
      </p>      
    </a>
    <a class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title black-text">Sentence Dictionary</span>
      <p class="black-text">Unlike typical dictionary giving meaning of single at a time, using this we'll pass a sentence as a whole <br>
         and get the meaning, synonyms, antonyms and example of all the typical words in one go. This project <br>
         is a gui based project made using tkinter and nltk.
      </p>      
    </a>
    <a class="collection-item avatar">
      <!-- <i class="material-icons circle green">insert_chart</i> -->
      <i class="material-icons circle">folder</i>
      <span class="title black-text">Portfolio Site</span>
      <p class="black-text">This is the simple demonstration for using python django frmaework <br>
      </p>      
    </a>
    <a class="collection-item avatar">
      <!-- <i class="material-icons circle red">play_arrow</i> -->
      <i class="material-icons circle">folder</i>
      <span class="title black-text">Calculator</span>
      <p class="black-text">This is a gui based simple project made to teach tkinter on youtube<br>
      </p>      
    </a>
</div>